.flows-wrapper {
  margin-top: 68px;
}

.flows-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flows-section-label {
  color: #707070;
  font-size: 18px;
  font-weight: bold;
}

.flow-grid-link {
  text-decoration: none;
  width: 188px;
  margin-right: 96px;
  margin-top: 40px;
  display: block;
  position: relative;
}

.flow-is-live {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #FD5E41;
  position: absolute;
  top: -12px;
  right: -12px;
}

.flow-grid-bg {
  width: 148px;
  padding: 1px 20px 20px 20px;
  background-color: #E3E3E3;
}

.flow-grid-bg-button-wrapper {
  text-align: center;
}
.flow-grid-bg-button-wrapper .button {
  margin-right: 0;
}

.flow-grid-name {
  margin-top: 20px;
  color: #4A4A4A;
  font-size: 18px;
  font-weight: 600;
}

.flow-grid-one-liner {
  margin-top: 8px;
  color: #B4B4B4;
  font-size: 14px;
}