.template .steps-button {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  outline: none;
  border: none;
  width: 214px;
  height: 53px;
  color: #ffffff;
  background-color: #8b8b8b;
  margin-right: 20px;
  cursor: pointer;
}

.template .steps-button:hover {
  background-color: #372888;
}

.template .input-wrapper {
  margin-bottom: 36px;
}

.template .input-label {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #4a4a4a;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.template .input-help-label {
  color: #969696;
  font-size: 14px;
}

.template input[type='text'],
.template textarea,
.template select {
  border: 1px solid #b1b1b1;
  padding: 10px;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border-radius: 4px;
  font-family: Helvetica, sans-serif;
  color: #4d4f5c;
  display: inline-block;
  margin-top: 16px;
  background: #ffffff;
}

.template input[type='text']::placeholder,
.template textarea::placeholder {
  color: #b1b1b1;
}

.template textarea {
  width: 100%;
  box-sizing: border-box;
}

.template select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.template .time-picker input {
  margin-right: 16px;
}

.template-labels {
  text-align: center;
}

.template-steps {
  display: flex;
  flex-direction: row;
  margin-bottom: 42px;
}

.template-steps > div {
  display: flex;
  flex-direction: row;
}

.step-spacer {
  margin-top: 19px;
  width: 146px;
  height: 2px;
  background-color: #e3e3e3;
}

.step-indicator {
  text-align: center;
  max-width: 40px;
  font-size: 13px;
  color: #969696;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
}

.step-circle {
  margin: 0 auto;
  line-height: 38px;
  text-align: center;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  border: 1px solid #e3e3e3;
}

.step-indicator.active .step-circle {
  background-color: #4a4a4a;
  color: #ffffff;
  border: 1px solid #4a4a4a;
}

.step-indicator.active {
  color: #4d4f5c;
}

.template-step-wrapper {
  height: 600px;
  max-height: 600px;
  overflow-y: scroll;
}

.input-row {
  display: flex;
  flex-direction: row;
}

.input-row .input-wrapper {
  flex: 1;
}
