
.participant-list {
  display: flex;
  flex-direction: column;
}

.participant-list-header {
  font-weight: bold;
}

.participant-list-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.participant-list-count {
  width: 40px;
}

.participant-list-column {
  margin-right: 60px;
  flex: 1;
}